# change to production before deploying
NODE_ENV='development'
PORT=5000
APP_ID='ba9bcf00-8e6c-45c2-b5b7-d7d42109afa1'
DOMAIN='example.com'
URL='http://localhost:5000'
# Database config
#only used for migrations
DB_HOST=localhost
DB_USERNAME=tm-dxp-gql
DB_PASSWORD=admin
DB_DATABASE=tm-dxp-gql
DB_PORT=5432
# JWT config
JWT_ACCESS_TIME=600
JWT_CONFIRMATION_SECRET='random_string'
JWT_CONFIRMATION_TIME=3600
JWT_RESET_PASSWORD_SECRET='random_string'
JWT_RESET_PASSWORD_TIME=1800
JWT_REFRESH_SECRET='random_string'
JWT_REFRESH_TIME=604800
# Refresh token
REFRESH_COOKIE='rf'
COOKIE_SECRET='random_string'
# Email config
EMAIL_HOST='mail.google.com'
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER='john.doe@gmail.com'
EMAIL_PASSWORD='password'